.job {
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 120rem;
  display: flex;
  margin: 2.5rem auto 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 4rem;
  border-radius: 6px;

  &--featured {
    border-left: 5px solid map-get($colors, "primary");
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__img {
    margin-right: 2.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
  }

  &__company {
    font-size: 1.4rem;
    color: map-get($colors, "primary");
    margin-right: 1.5rem;
  }

  &__badge {
    text-transform: uppercase;
    color: white;
    border-radius: 100px;
    padding: 0.5rem 0.8rem 0.3rem 0.8rem;
    &:not(:last-child) {
      margin-right: 1rem;
    }

    &--primary {
      background-color: map-get($colors, "primary");
    }

    &--featured {
      background-color: map-get($colors, "very-dark-grayish-cyan");
    }
  }

  &__title {
    font-size: 2rem;
    color: map-get($colors, "very-dark-grayish-cyan");
    margin: 1.5rem 0 1rem 0;
    cursor: pointer;

    &:hover {
      color: map-get($colors, "primary");
    }
  }

  &__more-info {
    display: flex;
    align-items: center;
    p {
      font-weight: 500;
      font-size: 1.4rem;
      opacity: 0.7;
    }

    span {
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: black;
      opacity: 0.4;
      border-radius: 50%;
      margin: 0 1rem;
    }
  }

  &__tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__tag {
    margin-bottom: 1rem;
    background-color: map-get($colors, "background");
    color: map-get($colors, "primary");
    font-size: 1.3rem;
    padding: 1rem 1rem 0.7rem 1rem;
    border-radius: 3px;
    cursor: pointer;

    &:hover {
      background-color: map-get($colors, "primary");
      color: white;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  @media (max-width: 850px) {
    & {
      flex-direction: column;
      position: relative;
      align-items: flex-start;
      margin-top: 5.5rem;
      padding: 3rem 2rem;

      &__info {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
      }

      &__header {
        margin-top: 1rem;
      }

      &__img {
        width: 6rem;
        position: absolute;
        top: 0;
        transform: translateY(-50%);

        img {
          width: 100%;
        }
      }
    }
  }
}
